/* Import fonts from Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700");

/* Importing all components file */
@import url("components/cards.css");
/* General for fonts and colors */
body {

  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 480px;
  margin: 50px auto;
  text-align: center;
}


h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 10px;
}


@media (max-width:  540px) {
  .container {
    width: 400px;
  }
}

@media (max-width:  420px) {
  .container {
    width: 300px;
  }
}

@media (max-width:  320px) {
  .container {
    width: 260px;
  }
}
